version: '3'

services:
  moodle:
    image: 'bitnami/moodle:latest'
    ports:
      - '80:80'
      - '443:443'
    environment:
      - MOODLE_DATABASE_HOST=moodle-db.cdzegrk4dcqr.us-east-1.rds.amazonaws.com
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_USER=admin
      - MOODLE_DATABASE_PASSWORD=12345678
      - MOODLE_DATABASE_NAME=bitnami_moodle
      - MOODLE_USERNAME=admin
      - MOODLE_PASSWORD=adminpassword
      - MOODLE_EMAIL=admin@example.com
    volumes:
      - moodle_data:/bitnami/moodle
